#nav1{
    background-color: lightblue;
    margin-left: 2%;
}

.card{
    content: "";
    height: auto;
    width: min-content;
    background-color: azure;
    margin: .2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
    padding: 0.3rem;
}

.card:hover{
    transition: 200ms;
    padding: 1rem;
    transform: translateX(.49rem);
    box-shadow: inset 0 0 0 0.5rem orange;
}

.card>a{
    text-decoration: none;
    color: darkcyan;   
    font-size: large;
}

nav{
    width: 0;
}